.sidebar-overly {
  transition: translate 0.3s linear;
}
.sidebar {
  transition: translate 0.3s linear;
  transform: translateX(100%);
}
.sidebar .simplebar-content {
  height: 100% !important;
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 30vw;
    min-width: 450px;
  }
}
