@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
  padding: 5rem 0;
  background: #f3f4f6;
  font-family: 'Poppins' !important;
}
button {
  font-weight: 600 !important;
  font-family: inherit !important;
}

#main-header {
  margin-bottom: 1.25rem;
}
#main-header h1 {
  font-size: 3rem;
  font-family: inherit;
}
#main-header p {
  font-family: inherit;
}

#main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
