@tailwind base;
@tailwind components;
@tailwind utilities;

/* main header */
#main-header {
  @apply mb-5;
}
.main-header__title {
  @apply text-5xl font-semibold py-2;
}
.main-header__text {
  @apply text-lg leading-10 text-gray-600;
}
.main-header__text--link {
  @apply border-b border-gray-300 text-indigo-600 font-semibold hover:border-indigo-400;
}

/* main */
#main {
  @apply py-8;
}
.main__header {
  @apply flex items-center justify-between mb-3 text-gray-600;
}
.header__actions {
  @apply flex items-center;
}
.action__button {
  @apply mr-1 py-1 px-2 rounded hover:bg-gray-200 flex items-center focus:outline-none;
}
.action__button--icon {
  @apply w-4 h-4 mr-1;
}

/* table */
.list-items {
  @apply min-w-full divide-y divide-gray-200 shadow-sm border border-gray-200;
}
.items__header {
  @apply bg-gray-50;
}
.items__header--item {
  @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
}
.items__body {
  @apply bg-white divide-y divide-gray-200;
}
.item {
  @apply px-6 py-4 whitespace-nowrap;
}
.item__type {
  @apply px-2 inline-flex text-xs leading-5 font-semibold rounded-full;
}
.items__category {
  @apply text-sm text-gray-500;
}
.items__category--item {
  @apply px-2 mr-1 inline-flex text-xs leading-5 font-semibold rounded-full;
}
.item__button--wrapper {
  @apply text-right text-sm font-medium;
}

/* sidebar */
.sidebar-overly {
  transition: translate 0.3s linear;
}
.sidebar {
  transition: translate 0.3s linear;
  transform: translateX(100%);
}
.sidebar .simplebar-content {
  height: 100% !important;
}

/* type */
.type-input:checked + .type-label {
  @apply border text-white border-indigo-500 bg-indigo-500;
}

/* responsive */
@media screen and (min-width: 768px) {
  .sidebar {
    width: 30vw;
    min-width: 450px;
  }
}
