@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sidebar */
.sidebar-overly {
  transition: translate 0.3s linear;
}
.sidebar {
  transition: translate 0.3s linear;
  transform: translateX(100%);
}
.sidebar .simplebar-content {
  height: 100% !important;
}

/* Type */
.type-input:checked + .type-label {
  @apply border text-white border-indigo-500 bg-indigo-500;
}

/* Responsive */
@media screen and (min-width: 768px) {
  .sidebar {
    width: 30vw;
    min-width: 450px;
  }
}
